.row{
    background: linear-gradient(45deg, #00dbde, #fc00ff);
}
.project> h1{
    padding-left: 20%;
}
.project{
    margin: auto;
    padding-top: 15px;
    padding-left: 3%;
    border: 1px solid black;
    margin-top: 20px;
    width: 40%;
    left: 28%;
    background: white;
    border-radius: 20px;
  }

.project-label{
    font-weight: 700;
    display: block;
    margin-top: 15px;
}
.project-input{
    display: block;
    margin-top: 7px;
    width: 80%;
    height: 35px;
    border: 1px solid #c6c0c0;
    border-radius: 3px;
    background: #ccc4c421;
}

.radio-label{
    font-weight: 600;
    display: block;
    padding-left: 30px;
    margin-top: 7px;
}
.radio input{
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    
}

.checkbox-input{
    display: block;
    padding-left: 0px;
    position: absolute;
    margin-top: 7px;
    
}

.checkbox-label{
    font-weight: 600;
    margin-top: 6px;
    display: block;
    margin-left: 30px;
}


.address-input{
    margin-top: 10px;
}
.project> button{
    text-align: center;
    margin-top: 14px;
    width: 30%;
    height: 35px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding-left: 6px;
    padding-top: 0px;
    border: none;
}

.project-button{
    margin-left: 5%;
    background: #3e3effd4;
    border-radius: 8px;
    width: 20%;
    
    }
.back-button{
        margin-left: 45%;
        border-radius: 8px;
        width: 20%;
        background: #f93825d1;
    }
    
